<form (ngSubmit)="handleFormSubmit()" #reviewForm="ngForm" #wrapper>
  <ng-content></ng-content>
  <fieldset class="flex flex-col gap-5 items-start">
    <label class="text-right mt-1" for="review">
      Review
    </label>
    <textarea
      class="w-full px-2 outline outline-1"
      id="review"
      name="reviewContent"
      rows="10"
      placeholder="Write your review...."
      [(ngModel)]="reviewContent"
      #reviewCtrl="ngModel"
      required
    ></textarea>
  </fieldset>

  <div class="mt-7 flex justify-end">
    <button
      type="submit"
      class="outline outline-1 outline-kAppBlack p-4 py-2 min-w-max disabled:opacity-50 disabled:cursor-not-allowed"
      [disabled]="reviewForm.invalid"
    >
      Submit
    </button>
  </div>
</form>
