<app-header></app-header>
<div class="h-full max-w-[1440px] mx-auto">
  <div *ngIf="isLoading">Loading...</div>
  
  <div *ngIf="error">{{ error }}</div>
  
  <div *ngIf="products && !isLoading" class="flex flex-wrap items-start gap-4 mx-auto">
    <ng-container *ngFor="let product of products">
      <app-product 
      [title]="product.title" 
      [image]="product.image" 
      [price]="product.price"
      [rating]="product.rating"
      [discount]="product.discount"
      [className]="'w-[calc(50%-8px)] mx-0 md:w-[calc(33.33%-10.7px)]'"
      ></app-product>
    </ng-container>
    <app-product 
      [title]="p.title" 
      [image]="p.image" 
      [price]="p.price"
      [rating]="p.rating"
      [discount]="p.discount"
      [className]="'w-[calc(50%-8px)] mx-0 md:w-[calc(33.33%-10.7px)]'"
      ></app-product>
    </div>
    <button class="rounded bg-black p-2 my-5" (click)="updateProduct()">Update product</button>
</div>